$revel-blue: #00a3e0;

.cc-landing{
  font-size: 1.125em;
  .section-hero-wla{
    min-height: 650px;
  }
  .cc-cta{
    background-color: rgba(235,235, 235, .6);
    border: 1px solid #00a3e0;
    border-radius: 6px;
    padding: 20px 40px;
    .cta-btn{
      color: #00a3e0;
      background-color: #ebebeb;
      padding: 10px 60px;
      border: 1px solid #00a3e0;
      border-radius: 6px;
      &:hover{
        background-color: #00a3e0;
        color: #ebebeb;
      }
    }
    img.CC-logo{
      margin: 25px auto;
      min-height: 40px;
      width: inherit;

    }
    h1.h2{
      color: #00a3e0;
      text-align: left;
      padding: 15px;
      font-size: 2.4em;
    }
    p.cta-text{
      text-align: left;
      padding: 10px;
      line-height: 1.67em;
    }
  }
  .stnd{
    @media screen and (max-width: 700px){
      display: none;
    }
  }
  .mobile{
    display: none;
    @media screen and (max-width:700px){
      display: block;
    }
  }
  .cc-hilites{
    margin: 25% auto;
    text-align: left;
    h3{
      margin-bottom: 20px;
    }
  }
  .hero-btm-cta{
    min-height: 300px;
    .btm-cta{
      margin: 20% auto;
    }
  }
  .section-contact{
    max-height: 300px;
    background-color: #00a3e0;
    color: #ebebeb;
    text-align: center;
    .astrix{
      font-size: .91em;
    }
  }
  section.section-hero-wla {
    .the-form {
      h2 {
        margin-bottom: 1em;
        margin-top: .5em;
      }
      form.mktoForm {
        position: relative;
        margin-top: 2.5em !important;
        margin-bottom: 2.5em !important;
        text-align: center;
        background-color: white;
        border: 2px solid $revel-blue;
        padding: 20px !important;
        border-radius: 5px;
        input {
          &#FirstName, &#LastName, &#Email, &#Phone {
            background-color: #e2e2e2;
            text-align: center;
            border-radius: 4px;
            padding-left: 0px;
            padding-right: 0px;
          }
        }
        .mktoButtonRow {
          width: 100%;
          border: none;
          border: thin solid $revel-blue;
          border-radius: 4px;
          background-color: $revel-blue;
          .mktoButtonWrap {
            width: 100%; 
            border: none;
            border-radius: 4px;
            button {
              width: 100%;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 8px;
              &:hover {
                background-color:white;
                color: $revel-blue;
                transition: .5s;
              }
            }
          }
        }

      }
    }
  }
}
// cc-landing end
